.TecladoVirtualLinha
{
   display: flex;	
}

.TecladoVirtualTecla 
{
	flex-basis: 8%;
	padding: 5px;
	background-color: rgb(51, 51, 51);	
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 3px;
	color: rgb(248, 248, 248);
	font-size: 200%;
	transition: background-color 0.08s;	
	
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.TecladoVirtualTecla:hover
{
	background-color: rgb(70, 70, 70);
}

.TecladoVirtualTecla:active
{
	background-color: rgb(101, 101, 101);	
	
}

.TecladoVirtual 
{
	/*width: 700px;*/
	flex-grow: 1;
	padding: 10px;
	background-color: rgb(26, 26, 26);
	display: flex;
	flex-direction: column;
	align-content: center;

}

.EstiloBackSpace 
{
	flex-basis: 16%;
}

.TecladoNumericoTecla
{
	flex: 1 1 0;
}

.EstiloA
{
	margin-left: 4%;
}

.TeclaShift
{
	flex-basis: 16%;
}

.TeclaTrocarModo 
{
	flex-basis: 16%;
}

.TeclaEspaco
{
	flex-grow: 1;
}

.TamanhoTeclaZero
{
	flex-basis: 12%;
}